<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <plugin_xml_version>2</plugin_xml_version>
    <general>
        <!--
            プラグイン名です。必ずフォルダ名と同じにしてください。
            英大文字、英小文字、数字のみを使うことを推奨します。
            スラッシュ(/)とコロン(:)は禁止文字です。
            禁止文字以外は使っても動くと思いますがおすすめしません。
        -->
        <name>Chocolatey</name>
        <!-- プラグインのバージョンです。整数値で指定してください。-->
        <version>1</version>
        <description> <!--説明です。この内容はPCCPluginに表示されますので、使い方などを書くといいでしょう。-->
            Chocolateyをインストールします。
            このプラグインは外部パッケージプロバイダとして動作します。
        </description>
        <plugin_author>pc21509 ozraru</plugin_author>
        <plugin_licence>PD</plugin_licence>
        <buttons>
        </buttons>
    </general>
    <dependency>
        <!--
            このプラグインが依存しているパッケージを指定します。
            外部パッケージプロバイダ(Chocolatey)などによって提供されるパッケージ名を指定することもできます。
            プラグインの場合はリポジトリを指定する(official:OtherPlugin)こともできますが、別のリポジトリに移動したときに解決できなくなるので非推奨です。
            リポジトリを省略した場合は、PCCPluginSysに設定されたリポジトリ(デフォルトでpersonal,official,unofficialの順)を上から検索します。
            before属性をつけるとそのパッケージのインストール完了までこのパッケージのリストアのactionが実行されません。
            リストアやインストールに必要ならつける、リストア自体には不要だが使うときに必要ならつけない(or明示的にfalseを指定する)ようにしてください。
        -->
        <dependent before="true">7zip</dependent>
    </dependency>
    <actions>
        <!-- actionについての詳細は別ページを確認してください。-->
        <install>
            CALL restore
        </install>
        <restore> <!-- restoreは特別なactionで、PCCClientのリストア時(データディレクトリがある状態でインストールしようとしたとき)に自動実行されます。-->
            EXEC /ADMIN ${plugin_repodir}\install.ps1
            EXEC /ADMIN ${plugin_repodir}\config.bat
        </restore>
        <external> <!-- externalは特別なactionで、これが存在するプラグインは外部パッケージプロバイダとして動作します。詳細は別ページを確認してください。-->
            EXEC /ADMIN choco install -y --allowemptychecksum ${args}
        </external>
    </actions>
    <config>
        <!--
            このプラグインの設定項目を指定します。
            ここに記入された項目はユーザーがPCCClientから設定することができます。
            設定された内容は${plugin_datadir}\plugin_config.jsonに保存されます。
            idはjsonのキーを指します。
            typeはstring,password,int,checkboxが指定できます。
            passwordを指定しても暗号化などはされず平文で保存されます。
        -->
        <input id="username" type="string" hint="tsXXXXX">tsアカウント名</input>
        <input id="password" type="password" hint="password">tsアカウントのパスワード</input>
    </config>
</plugin>